.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;

}
.time-block {
background: transparent;
border: solid white 1px;
resize: none;
color: black;
border-left: 1px solid black;
padding: 10px;
font-size: 1.25em;
}

.planner {
white-space: pre-wrap;
}


.hour {
background-color: white;
color: black;
border-top: 2px dashed black;
padding: 15px;
}

.past {
background-color: gray;
color: black;
}

.present {
background-color: green;
color: black;
}

.future {
background-color: red;
color: black;
}

.saveBtn {
border-left: 1px solid black;
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
background-color: teal;
color: white;
}

.saveBtn i:hover {
font-size: 15px;
transition: all 0.3s ease-in-out;
}